
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.navbar {
  background-color: #4286f4;
}

.text {
  text-align: center
}

.img-border {
  border: solid 5px #4286f4;
}

.margin-alumni {
  margin-top: 5%;
}

.margin-frame {
  margin: 10% 0 0 25%;
}
/* 
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
} */


.img-circle {
  border-radius: 50%
}
